__pycache__/
*.pyc
.vscode/

build/
*.so
*.o
*.egg-info/

*.rrd

results/

output/

submodules/*/build/
submodules/fast_gicp/data/
submodules/fast_gicp/python_tester/dataset/
submodules/fast_gicp/thirdparty/nvbio/nvbio/io/output/

Splat-LOAM/new-college-combined-5cm-v2_crop_2025-10-15_09-10-03.ply
Splat-LOAM/submodules/gsaligner/tests/data/
