opencv-contrib-python
open3d
scipy
tqdm
plyfile
numpy
omegaconf
pytransform3d
natsort
rosbags
matplotlib
PyYAML
rerun-sdk
roma
evo
pybind11
gtsam
small-gicp
pyprojections
kiss-icp
pyquaternion
pydantic
pydantic-settings
rich
typer[all]
typing_extensions
Pillow
